.page404{
    .return{
        font-family: 'Architects Daughter', cursive;
        font-size:28px;
        text-align:center;
        width:20%;
        cursor:pointer;
        user-select:none;
        margin:auto;
        background-color:#85144b;
        border-radius:3%;
        color:whitesmoke;
        padding:7px;
    }
    img{
        margin:auto;
        margin-top:70px;
        display:block;
        width:30%;
    }
}