.array{
    font-size: 20px;
    text-align: center;
    width: 100%;
    margin: auto;
    margin-top: 100px;
    padding-bottom: 50px;

    .remainingColours{
        display: inline-block;
        width: 80px;
        margin: 2px;
        transition: 2.2s;
        vertical-align: top;
        overflow: hidden;
        background: linear-gradient(to top, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0) 10%);
        border-radius: 10px;
        height: 350px;
        cursor: pointer;
    }
    .currentColour{
        width: 500px;
        display: inline-block;
        height: 200px;
        margin: 50px 2px;
        transition: 1.6s;
        text-align: left;
        font-size: 16px;
        padding: 20px;
        background: linear-gradient(to bottom, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 155, 0) 60%);
        border-radius: 8px;
        font-weight: 600;
        position: relative;
    }
    p{
        color:white;
        line-height:1.3;
        padding-top: 45px;
    }
    .name{
        font-size:26px;
        position:absolute;
        top:-45px;
        left:0;
    }

}