.gameover{
    height:50vh;
    width:100%;
    text-align:center;
    position:relative;
    .message{
        position:absolute;
        top:50%;
        left:50%;
        transform:translate(-50%,-50%);
        color: $colour-red;
        h1{
            margin-bottom:40px;
            font-size:28px;
            width:100%;
        }
        .suggestions{
            display:flex;
            flex-wrap:wrap;
            align-items:center;
            justify-content:space-around;
            color: darkblue;
            .replay, .home, .stats{
                padding:10px;
                margin:15px;
                border:1px solid black;
                border-radius:3px;
                cursor:pointer;
                user-select:none;
                width:35%;
            }
        }
    }
}