header{
    margin-top:75px;
    a{
        margin:0 0 0 250px;
        text-decoration:none;
        font-size:26px;
    }
    .homepage{
        color: $colour-red;
    }
    .quizpage{
        color: $colour-red;
    }
    .loginpage{
        color:rgb(5,30,160);
    }
    .stats{
        color:rgb(87,20,125);
    }
}