@import "utils/vars";
@import "utils/general";

@import "components/header";
@import "components/content";
@import "components/array";
@import "components/quiz";
@import "components/quizGame";
@import "components/statistics";
@import "components/gameover";
@import "components/login";
@import "components/404";